# Vercel API Environment Variables
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

TELEGRAM_WORKER_URL=
WORKER_SECRET=

BOT_TOKEN=

QSTASH_TOKEN=
QSTASH_SECRET=

APP_URL=
